body{
    margin: 0%;
}
.header{
    background-color: black;
    height: 150px;
    width: 100%;
    padding-left: 50px;
}
.left-section{
    background-color: white;
    float: left;
    height: 800px;
    width: 20%;
}
.right-section{
    background-color: rgb(88, 174, 180);
    height: 800px;
    width: 80%;
    float: right;

}
.content{
    height: 800px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: black;
    
}
#main-heading{
    color:white
}
