p{
    background: rosybrown;
    color: black;
}
h1{
    color: blue;
}
button{
    color: white;
    background: black;
}
body{
    background: greenyellow;
}
/* possible to change the background coller thrue write a * or write 'body' */