p{
    background: rosybrown;
    color: black;
    text-align: center;
}
h1{
    color: blue;
    text-align: center;
}
button{
    color: white;
    background: black;
}
body{
    background: rgb(189, 252, 94);
}
/* 
possible to change the background coller thrue write a * or write 'body'. select body, kink, paragraph, enything 
like this . if you want to change all text size or background or enything, then you can use the '*'             
 */


/*possible to select h1 and h2 both like below*/

h2, h3{
    background-color: aqua;
    color: coral;
}

/* div and span */
div{
    background-color: rebeccapurple;
    color: darkgray;
    width: 50%;
}
span{
    color: yellow;
    font-size: 20px;
    background-color: black;
}
