/*external.html*/
p{
    background: rosybrown;
    color: black;
    text-align: center;
}
h1{
    color: blue;
    text-align: center;
}
button{
    color: white;
    background: black;
}
body{
    background: rgb(189, 252, 94);
}
/* 
possible to change the background coller thrue write a * or write 'body'. select body, kink, paragraph, enything 
like this . if you want to change all text size or background or enything, then you can use the '*'             
 */


/*possible to select h1 and h2 both like below*/

h2, h3{
    background-color: aqua;
    color: coral;
}

/* div and span */
div{
    background-color: rebeccapurple;
    color: darkgray;
    width: 50%;
}
span{
    color: yellow;
    font-size: 20px;
    background-color: black;
}

/* id and class */
#one{
    background-color: aliceblue;
    color: green;
}
#two{
    background-color: green;
    color: white;
}
#three{
    background-color: salmon;
    color: black;
}
.content{
    background-color: white;
    color: gray;
}

/* box model */
h4{
    background-color: black;
    color: white;
    padding: 20px 0 20px 2px;   /* clock wise */
    border: 5px solid blue;
    margin-bottom: 0px;
}
h5{
    background-color: black;
    color: white;
    padding: 20px 0 20px 2px;   /* clock wise */
    border: 5px solid blue;
    margin-top: 0px;
}
body{
    background-image: url(images/index.jpeg);
    /* use 'background-image-size: cover' to set one image around all the page*/
}
#pone{
    background-image: url(images/index.jpeg);
    height: 500px;
}
#ptwo{
    background-image: url(images/images.jpeg);
    height: 500px;
    background-repeat: repeat-x;
    /*use repeat-x to horizontal
    and repeat-y to vertical
    and use the 'background-position' to alighn the image like bottom, middle, right etc.*/
}